[Unit]
Description=Transpac Forwarding Proxy
After=network.target

[Service]
Type=forking
PIDFile=/var/run/transpac.pid
ExecStart=/usr/bin/transpac
ExecStop=/usr/bin/killall /usr/bin/transpac
Restart=on-abort

[Install]
WantedBy=multi-user.target